:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  max-width: 100%;
  min-height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  width: 70%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

form {
  margin-top: 1rem;
}

fieldset {
  border: none;
  display: flex;
  flex-direction: column;
}

label {
  font-weight: 800;
  font-size: 1.2em;
  margin-bottom: .5rem;
}

input[type="text"] {
  padding: .8rem;
  border: none;
  outline: none;
}

button {
  width: 80%;
  margin: .8rem auto;
  background-color: #161313;
  padding: .5rem;
  outline: none;
  border: none;
  cursor: pointer;
  transition: background .3s ease;
}
button:hover {
  background-color: #282828;
}

section.results {
  display: flex;
  flex-direction: column;
  align-items: center;
}

section.info {
  margin-top: .5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

img.weather-img {
  margin: 0 auto;
  width: 80px;
  height: 80px;
}

h2#weather {
  font-size: 1.8em;
}

h2 {
  margin: 0;
  font-size: 0.8em;
  text-align: center;
}

